@import '../../../../styles.scss';

.mainNav-container {
  padding: 80px;
  margin-bottom: 40px;
  background-color: rgb(240, 203, 146, 0.35);
}
.mainNav-wrapper {
  max-width: 1024px;
  min-height: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.categories {
  display: flex;
  justify-content: space-around;
}
.categoryItem {
  padding-bottom: 16px;
  width: 12.5%;
  margin-bottom: 16px;
  border-bottom: 3px solid $bagel-accent;
  font-size: 1.3rem;
  text-align: center;
  & a:hover {
    color: $bagel-warn;
    cursor: pointer;
  }
}
.categoryItem:hover {
  border-bottom: 3px solid $bagel-warn;
}
.selected {
  border-bottom: 3px solid $bagel-warn !important;
}
.courses-wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 32px;
}
.courseItem {
  border-radius: 20px;
  border: 3px solid rgb(240, 203, 146, 0);
}
.courseItem:hover {
  border: 3px solid $bagel-primary;
}
#department {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}
#depart-item {
  border: none;
  text-align: center;
  align-items: center;
}
#depart-logo {
  max-width: 160px;
  height: 64px;
}
#department:hover #depart-logo:hover {
  transition: all 0.5s ease-in-out;
  transform: scale(1.5);
  z-index: 10;
}
#department:hover #depart-logo:not(:hover) {
  opacity: 0.5;
}
.courses {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 88px;
}
.courses:hover {
  cursor: pointer;
}
.courseLogo {
  height: 55px;
  margin-left: 16px;
}
.courseText {
  margin: auto 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.courseModule {
  font-size: 0.8rem;
}
.courseName {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 1.2rem;
  line-height: 110%;
}

@media only screen and (max-width: 992px) {
  /* For Pad */
  .mainNav-container {
    margin-bottom: 0;
  }  
  .courseLogo {
    height: 48px;
    margin-left: 8px;
  }
  .courseName {
    font-size: 1rem;
  }

  @media only screen and (max-width: 768px) {
    /* For Mobile */
  }
}
