@import '../../styles.scss';

.mainNav-container {
  padding: 64px;
  margin-bottom: 80px;
}
.mainNav-wrapper {
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.categories {
  display: flex;
  justify-content: center;
}
.categoryItem {
  margin: 0 32px 32px;
}
.courses-wrapper {
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.courseItem {
// todo: change color
  background-color: rgb(210, 215, 211);
  border-radius: 10px;
}
.courses {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 88px;
}
.courseModule {
  height: 88px;
  border-radius: 10px;
}
.courseText {
  margin: auto 16px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 1.2rem;
}
