@import '../../styles.scss';

.mainNav-container {
  padding: 64px;
  margin-bottom: 80px;
}
.mainNav-wrapper {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.categories {
  display: flex;
  justify-content: center;
}
.categoryItem {
  margin: 0 32px 32px;
}
.courses-wrapper {
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}
.courseItem {
  border-radius: 20px;
  border: 1px solid $bagel-dark;
}
.courses {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 88px;
}
.courseLogo {
  height: 32px;
  margin-left: 16px;
}
.courseText {
  margin: auto 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.courseModule {
  font-size: 0.8rem;
}
.courseName {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 1.2rem;
  line-height: 110%;
}
