<mat-nav-list [ngSwitch]="navMode">
  <button class="close-btn" type="button" (click)="onToggleClose()"><i class="bi bi-x-lg"></i></button>
  <!-- Saved Information -->
  <section class="avatar-info" *ngSwitchCase="'saved'">
    <img class="avatar-item avatar-image" [src]="myUser.imgSrc"/>
    <h2 class="avatar-item">{{ myUser.userName }}</h2>
    <span class="avatar-item">{{ myUser.email }}</span>
    <button class="avatar-item avatar-btn" id="edit-btn" type="button" (click)="changeViewMode()">Edit</button>
    <button class="avatar-item avatar-btn" type="button">Sign Out</button>
  </section>
  <!-- Edit Fields -->
  <section class="avatar-info" *ngSwitchCase="'edit'">
    <!-- todo: add image change event -->
    <a class="avatar-item" id="avatar-change" href="">
      <img class="avatar-image" [src]="myUser.imgSrc"/></a>
    <i class="bi bi-image" id="avatar-change-icon"></i>
    <h2 class="avatar-item">
      <input type="text" placeholder="{{ myUser.userName }}" />
    </h2>
    <span class="avatar-item">
      <input type="text" placeholder="{{ myUser.email }}" />
    </span>
    <button class="avatar-item avatar-btn" id="save-btn" type="button" (click)="changeViewMode()">Save</button>
  </section>
</mat-nav-list>