@import '../../../../styles.scss';

.footer-container{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: -128px;
  height: 128px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

@media only screen and (max-width: 768px) {
  /* For mobile: */
  .footer-text {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 576px) {
  /* For mobile: */
  .footer-text {
    font-size: 0.5rem;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile: */
  .footer-container{
    width: min(100% - 2rem, 420px);
    margin-inline: auto;
    height: 100px;
    z-index: 0;
  }
  .footer-text {
    font-size: 1rem;
    text-align: center;
  }
}
@media only screen and (max-width: 576px) {
  /* For mobile: */
  .footer-container{
    width: min(100% - 2rem, 280px);
    margin-inline: auto;
    height: 100px;
    z-index: 0;
  }
  .footer-text {
    font-size: 0.5rem;
    text-align: center;
  }
}
