<!-- <mat-sidenav-container class="container-fluid" [(ngModel)]="screenMode"> -->
<!-- TODO: 5.18 변경함, form control 안쓰는데 ngModel 써서 console에 계속 에러뜸-->
<mat-sidenav-container class="container-fluid" [ngClass]="screenMode">
  <mat-sidenav #sidenav mode="over" position="end">
    <app-sidenav (closeSideNav)="sidenav.close()"></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content class="header-container">
    <app-header (SideNavToggle)="sidenav.toggle()"></app-header>
    <router-outlet></router-outlet>
    <app-top-button *ngIf="screenMode==='W'" (TopButton)="scrollToTop()"></app-top-button>
    <app-plus-button *ngIf="screenMode==='M'" (PlusButton)="plusNewCard()"></app-plus-button>
  </mat-sidenav-content>
</mat-sidenav-container>

<app-footer></app-footer>
