@import '../styles.scss';

.mat-drawer-container {
  background-color: #fff;
}
.container-fluid {
  margin-top: -80px;
}
.mySidenav {
  width: 300px;
  background-color: #fff;
  z-index: 999;
  box-shadow: -0.5rem 0 0.75rem 0.1rem rgba(240, 203, 146, 0.1);
}
