<app-navbar-searchbar (InputtedText)="searchText($event)"></app-navbar-searchbar>

<div class="container">
  <div class="no-result" *ngIf="!hasResult">
    <span class="info-text">죄송합니다. 검색어 관련 게시글이 없습니다.</span>
    <span class="info-text">No Result Found</span>
    <span class="info-text">We can’t find any item matching your search</span>
  </div>
  <div class="has-result" *ngIf="hasResult">
    <p class="res-text">We’ve found 3 post!</p>
  </div>
</div>

<app-card-list [isSearch]="searched" [searchText]="inputtedText"></app-card-list>
