<mat-nav-list class="sidenav-container" [ngSwitch]="navMode">
  <button class="close-btn" type="button" (click)="onToggleClose()"><i class="bi bi-x-lg"></i></button>
  <!-- Saved Information -->
  <section class="avatar-info" *ngSwitchCase="'default'">
    <img class="avatar-item avatar-image" [src]="curUser.avatarUrl"/>
    <h3 class="avatar-item">{{ curUser.username || "아이디를 적어주세요"}} </h3>
    <button class="avatar-item avatar-btn" id="edit-btn" type="button" (click)="changeViewMode()">Edit</button>
    <button class="avatar-item avatar-btn" type="button" (click)="signOut()">Sign Out</button>
  </section>
  <!-- Edit Fields -->
  <form class="avatar-info btn-group dropleft" *ngSwitchCase="'edit'">
    <div class="avatar-item dropdown" id="dropdownMenuLink">
      <a class="btn avatar-change-btn" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img class="avatar-image" id="avatar-bg" [src]="curUser.avatarUrl" />
        <i class="bi bi-image" id="avatar-change-icon"></i>
      </a>
      <div class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuLink">
        <div class="dropdown-item-wrapper">
          <a class="dropdown-item" (click)="changeAvatar(avatar)" *ngFor="let avatar of avatars"><img class="dropdown-image" [src]="avatar.avatarUrl"/></a>
          <a class="dropdown-item" href="#">
            <form class="avatar-upload">
              <label class="avatar-upload-text" for="avatar">Upload</label>
              <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg">
            </form>
          </a>
        </div>
      </div>
    </div>
    <h2 class="avatar-item">
      <input type="text" placeholder="{{ curUser.username }}" name="username" [value]="curUser.username" [(ngModel)]="curUser.username" />
    </h2>
    <button class="avatar-item avatar-btn" id="save-btn" type="submit" (click)="updateUser()">Save</button>
  </form>
</mat-nav-list>
