<div class="container-fluid" (scroll)="onscroll()" [ngClass]="headerFixed?'fixed':'nofixed'">
  <div class="content-wrapper">
    <a href=""><img class="logo" src="../../assets/logos/Bagel.svg"/></a>
    <div *ngIf="screenMode==='W'">
      <div *ngIf="!isLoggedIn" class="btn-container">
        <button mat-button class="btn-item" (click)="openModal()">Sign Up</button>
        <button class="btn-item" (click)="openLoginModal()">Log In</button>
      </div>
      <div *ngIf="isLoggedIn" class="btn-container">
        <button mat-button class="avatar-btn" (click)="openSidenav()"><img class="avatar-img" src="../../assets/images/Avatar_1.png"/></button>
      </div>
    </div>
    <div *ngIf="screenMode==='M'">
      <div *ngIf="!isLoggedIn">
        <button class="btn-item" (click)="openLoginModal()">Log In</button>
      </div>
      <div *ngIf="isLoggedIn">
        <button mat-button class="avatar-btn" (click)="openSidenav()"><img class="avatar-img" src="../../assets/images/Avatar_1.png"/></button>
      </div>
    </div>
  </div>
</div>
