*{
  padding: 0;
  margin: 0;
} 

.comment-container {
  margin: 0 0 15px 43px;
  padding-bottom: 10px;
  border-bottom: solid 1px #dadada;
  display: grid;
  grid-template-columns: 90% 10%;
}
.comment {
  font-size: 1.2rem;
  white-space: pre-wrap;
}
.kebab-menu {
  display: flex;
  justify-content: flex-end;
  color: #4c9d9f;
}
.dropdown-menu a {
  display: flex;
  align-items: center;
  width: 160px;
  height: 30px;
  margin: 3px 0;
  padding-left: 10px;
}
.dropdown-menu a:hover {
  background-color: #ee5133;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  /* For mobile: */
  .comment-container {
    margin-left: 28px;
    grid-template-columns: 95% 5%;
  }
  .comment {
    font-size: 1rem;
  }
}
