<div class="post-page-container">
  <div *ngIf="bagel._id" class="back-btn-container">
    <!-- todo: add history router link -->
    <a href=""><img src="../../../../assets/icons/backIcon.svg" alt="back-icon"></a>
  </div>
  <div class="post-info">
    <span id="course">{{ bagel.course }}</span>
    <span id="title">{{ bagel.title }}</span>
  </div>
  <div class="user-info">
    <div>
      <img src="../../assets/user-photo/tigger.png" alt="">
      <span id="username">{{ bagel.username }}</span>
    </div>
    <span id="created-date">{{ bagel.createdAt | date:'mediumDate'}}</span>
    <div class="icon-wrapper" *ngIf="isMy">
      <a (click)="bagelUpdate()"><i class="bi bi-pencil-fill"></i></a>
      <a (click)="bagelDelete()"><i class="bi bi-trash3"></i></a>
    </div>
  </div>
  <quill-view [content]="bagel.text" format="html"></quill-view>
  <app-comments></app-comments>
</div>
