@import '../../../../styles.scss';

.post-page-container {
  max-width: 1024px;
  margin: 40px auto 60px;
}
.back-btn-container {
  height: 68px;
  display: flex;
  align-items: center;
}
.post-info {
  display: flex;
  flex-direction: column;
  margin: 32px 0;
}
#course {
  font-size: 1.8rem;
  margin-bottom: 32px;
}
#title {
  font-size: 2.5rem;
  margin-bottom: 16px;
}
.user-info {
  width: 400px;
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.user-info img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
#username {
  font-size: 1.2rem;
  margin-left: 10px;
}
#created-date {
  font-size: 1.2rem;
  margin-left: 40px;
}
.content {
  min-height: 100px;
  margin-top: 30px;
  margin-bottom: 72px;
  font-size: 1.2rem;
  border: 1px solid red;
}
