@import '../../../../styles.scss';

::ng-deep .ql-editor {
  min-height: 150px;
  padding-top: 30px;
  padding-bottom: 72px;
  & p {
    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
  }
}

.post-page-container {
  width: min(100% - 4rem, 1024px);
  min-height: 1vh;
  margin-inline: auto;
  margin: 40px auto 60px;
}
.back-btn-container {
  height: 68px;
  display: flex;
  align-items: center;
}
.back-btn-container a {
  cursor: pointer;
}
.post-info {
  display: flex;
  flex-direction: column;
  margin: 32px 0;
}
#course {
  font-size: 1.5rem;
  margin-bottom: 32px;
}
#title {
  font-size: 2.5rem;
  margin-bottom: 16px;
}
.user-info {
  width: 400px;
  display: flex;
  align-items: center;
}
.user-info img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
#username {
  font-size: 1.2rem;
  margin-left: 10px;
}
#created-date {
  font-size: 1.2rem;
  margin-left: 40px;
}
.content {
  min-height: 100px;
  margin-top: 30px;
  margin-bottom: 72px;
  font-size: 1.2rem;
}
.icon-wrapper {
  margin: 0 1rem;
  & a i.bi {
    margin: 0 0.25rem;
  }  
}
.bi:hover {
  cursor: pointer;
}
.post-content {
  min-height: 1vh;
}

@media only screen and (max-width: 768px) {
  /* For mobile: */
  .post-page-container {
    margin-top: 0;
    width: min(100% - 2rem, 768px);
    margin-inline: auto;
  }
  .back-btn-container img{
    height: 25px;
    width: 25px;
  }
  .post-info {
    margin: 16px 0;
  }
  #course {
    font-size: 1.1rem;
  }
  #title {
    font-size: 1.5rem;
    margin-bottom: 8px;
    line-height: 100%;
  }
  .user-info {
    width: 100%;
    justify-content: flex-start;
    gap: 1rem;
    margin-bottom: 30px;
  }
  #username {
    font-size: 1rem;
  }
  #created-date {
    font-size: 1rem;
    margin-left: 0px;
  }
  .icon-wrapper  {
    margin: 0;
  }
}
