.nav-search-bar{
  flex-direction: row;
  max-width: 1180px;
  max-height: 120px;
  padding-top: 36px;
}

.navbar{
  display: inline-block;
  vertical-align: middle;
}

.searchbar{
  vertical-align: bottom;
  vertical-align: 20%;
  display: inline-block;
  vertical-align: middle;
  margin-left: 20%;
}

input{
  font-size: 0.7rem;
  padding: 4px;
  width: 360px;
  border-color: gray;
  border-style: solid;
  border-radius: 20px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  vertical-align: middle;
}

.nav-item{
  padding: 4px;
  font-size: 1.5rem;
}

a{
  color: black;
  text-decoration: none;
}

a:hover{
  color: #F0CB92;
  text-decoration: none;
}

