app-avatar-modal {
  visibility: hidden;
}
.avatar-modal {
  /* modal container fixed across whole screen */
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  overflow: auto;
}
.avatar-modal-body {
  padding: 20px;
  background: #fff;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 100px;
}
.modal-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0.5;
  z-index: 900;
}
body.avatar-modal-open {
  overflow: hidden;
}