<div class="comment-container">
  <div class="comment-label">Comments</div>
  // 글 작성 부분 (n)
  <div class="comment-content">
    <div class="profil">
      <div class="profil-photo"><img src="" alt="">Photo</div>
      <div class="profil-username">profilUsername</div>
    </div>
    <div class="comment-text-container">
      <div class="comment-text">흥미로운 게시글이네요. 함께 해봅시다.</div>
      <div class="comment-timestamp">2022-10-25 08:45</div>
    </div>
  </div>
  <div class="comment-write-container">
    <textarea ng-model="textContent" placeholder="Ask question or leave a comment!" cols="100" rows="4" required></textarea>
    <button>Post</button>
  </div>

</div>
