<mat-sidenav-container class="container-fluid">
  <mat-sidenav class="mySidenav" #sidenav mode="over" position="end">
    <app-sidenav (closeSideNav)="sidenav.close()"></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content class="header-container">
    <app-header (SideNavToggle)="sidenav.toggle()"></app-header>
    <app-main-navigation></app-main-navigation>
    <app-navbar-searchbar (SelectedCategory)="changePostCategory($event)"></app-navbar-searchbar>
    <app-card-list [postCategory]="selectedCategory"></app-card-list>
  </mat-sidenav-content>
</mat-sidenav-container>
