@import '../../../../styles.scss';

.mySidenav {
  width: 300px;
  border: 1px solid $bagel-dark;
  background-color: #fff;
}
.container {
  max-width: 1180px;
  margin: 24px auto 8px;
}
.no-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 40px;
}
.info-text {
  font-size: 1.5rem;
  text-align: center;
  margin: 16px;
}
.res-text {
  font-size: 1rem;
}
