*{
  padding: 0;
  margin: 0;
} 
$cubic-out: cubic-bezier(.32,2.04,.85,.54);
$cubic-in: cubic-bezier(.72,1.2,.71,.72);
.comment-container {
  margin: 0 0 15px 43px;
  padding-bottom: 10px;
  border-bottom: solid 1px #dadada;
  display: grid;
  grid-template-columns: 873px 108px;
}
.comment {
  font-size: 1.2rem;
}
.comment-btn {
  margin-top: 30px;
}
.comment-btn button {
  width: 60px;
  border: none;
  border-radius: 2.5px;
  opacity: 0.9;
  color: #fff;
}
.edit-btn {
  background-color: #4c9d9f;
  
}
.delete-btn {
  background-color: #ee5133;
  margin-left: 15px;
}


.kebab-menu {
  padding-right: 25px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  figure {
    width: 4px;
    height: 4px;
    border-radius: 5px;
    background: #ee5133;
    margin: 3px 0;
  }
}

.middle {
  transition: all 0.25s $cubic-in;
  transform: scale(1);
  position: relative;
  box-shadow: 0 0.1px 0.1px 0 rgba(0, 0, 0, 0.16), 0 0.1px 0.3px 0 rgba(0, 0, 0, 0.12);
  -webkit-filter: blur(.1px);
  filter: blur(.1px);
}

.middle.active {
  transform: scale(4.5);
  transition: all 0.25s $cubic-out;
  box-shadow: 0 0.1px 0.1px 0 rgba(0, 0, 0, 0.16), 0 0.1px 0.3px 0 rgba(0, 0, 0, 0.12);
}
