
<form #form="ngForm" (submit)="postComment(form, comment?.id)">
  <div class="form-group row">
      <textarea
      id="commentInput"
      class="form-control col-9"
      #commentBox="ngModel"
      [ngModel]="comment?.text"
      name="commentBox"
      (focus)="isCommentInEditMode = true"
      trim="blur"
      maxlength="250"
      placeholder="Ask a question  or  leave a message."
      ></textarea>
      <button
      type="submit"
      id="buttonSubmit"
      class="btn col-3"
      >
       POST
      </button>
  </div>
</form>
