@import '../../../../styles.scss';

.plus-new-card {
  position: fixed;
  bottom: 24px;
  right: 24px;
  height: 56px;
  width: 56px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid $bagel-dark;
  border-radius: 50%;
  background-color: #fff;
  z-index: 100;
  transition: all .2s ease-in-out;
}
.plus-new-card:active {
  background-color: $bagel-warn;
  #plus-btn {
    transform: rotate(270deg);
  }
  #plus-btn-icon {
    color: $bagel-W-text;
  }
}
#plus-btn {
  width: 100%;
  height: 100%;
}
#plus-btn-icon {
  font-size: 32px !important;
  color: $bagel-dark;
  transition: all .2s ease-in-out;
}
.bi::before, .bi::after {
  font-weight: bolder !important;
}
