@import '../../../styles.scss';

.container{
  max-width: 420px;
  max-height: 358px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25%;
  text-align: center;
} 

.close-btn {
  float: right;
  margin: 1rem;
  font-size: 2rem;
}

.text{
  font-size: 1.3rem;
  margin: 12px 0 0 12px;
}

.login-btn{
  width: 100%;
  padding: 12px;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  border-radius: 50px;
  border: none;
  background-color: #F0CB92;
  margin: 24px 12px 12px 12px;
}

.icon {
  margin-right: 8px;
}

@media only screen and (max-width: 768px) {
  /* For mobile: */
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .text {
    justify-content: center;
    text-align: center;
    margin: 32px 0;
    width: min(100% - 5rem, 768px);
    margin-inline: auto;
  }
  .login-btn {
    margin: 16px 0;
    width: min(100% - 2rem, 768px);
    margin-inline: auto;
    font-size: 1.2rem;
  }
}
