<div class="signup-container">
  <div class="signip-title-container">
    <h1 class="signup-title">Create your account</h1>
  </div>
  <div class="singup-guide">
    Please note that RWTH-Email verification is required for sign up.
    Your information will only be used to verify your identity for security purpose.
  </div>
  <div class="email-wrapper">
    <div class="input-container">
      <!-- 메일 인증 이전 -->
      <input *ngIf="!sentCode && !verified && !googleLoggedin" class="email-input" type="text" name="email" autocomplete="off" [(ngModel)]="rwthEmail" required>
      <!-- 메일 코드 발송 후 -->
      <input *ngIf="sentCode && !verified && !googleLoggedin" class="email-input" type="text" name="email" autocomplete="off" spellcheck="false" [(ngModel)]="verificationCode" required>
      <!-- 구글 로그인 후 -->
      <input *ngIf="sentCode && verified && googleLoggedin" class="email-input" type="text" name="email" autocomplete="off" spellcheck="false" [(ngModel)]="userId" required>
      <label for="text" class="label-name">
        <!-- 메일 인증 이전 - RWTH-Email 입력 -->
        <span *ngIf="!sentCode && !verified && !googleLoggedin" class="content-name">RWTH Email</span>
        <!-- 메일 코드 발송 후 - Verfication code 입력 -->
        <span *ngIf="sentCode && !verified && !googleLoggedin" class="content-name">Verification code</span>
        <!-- 구글 로그인 후 - 원하는 id 입력 -->
        <span *ngIf="sentCode && verified && googleLoggedin" class="content-name">User ID</span>
      </label>
    </div>
    


    <div class="email-btn-container">
      <!-- 메일 인증 이전 - 메일 발송 버튼-->
     <button *ngIf="!sentCode && !verified && !googleLoggedin" class="email-btn" type="submit" name="action" (click)="verificationEmail(rwthEmail)">Send</button>
     <!-- 메일 코드 발송 후 - 코드 확인 버튼-->
     <button *ngIf="sentCode && !verified && !googleLoggedin" class="email-btn" type="submit" name="action" (click)="validateCode(verificationCode)">Continue</button>
     <!-- 구글 로그인 후 - id 제출 버튼-->
     <button *ngIf="sentCode && verified && googleLoggedin" class="email-btn" type="submit" name="action" (click)="validateCode(verificationCode)">Sign up</button>
    </div>
  </div>
</div>
