<div class="container-fluid">
  <div class="aboutSearch" *ngIf="isSearch" >
    <div class="no-result" *ngIf="noResult" >
      <span class="info-text">검색어 관련 게시글이 없습니다. 다른 검색어를 넣어주세요 :D</span>
      <span class="info-text">No Result Found</span>
      <span class="info-text">We can’t find any item matching your search</span>
    </div>
    <div class="has-result" *ngIf="!noResult">
      <span class="res-text">We’ve found 3 post!</span>
    </div>
  </div>
  <ul class="cardList-wrapper">
    <a (click)="newBagel()" class="cardItem" id="newBagel" *ngIf="!isSearch && screenMode === 'W'">
      <div>+ new card</div>      
    </a>
    <a class="cardItem" (click)="showDetail(bagel._id)" *ngFor="let bagel of bagels">
      <div class="cardItem-header">
        <div class="cardItemH-left">{{ bagel.term }}</div>
        <div class="cardItemH-right" [ngClass]="bagel.category">{{ bagel.category }}</div>  
      </div>
      <div class="cardItem-content">
        <div class="cardItemC-text" id="text-course">{{ bagel.course }}</div>
        <div class="cardItemC-text" id="text-title">{{ bagel.title }}</div>
      </div>
      <div class="cardItem-footer">
        <div class="cardItemF-left">{{ bagel.username }}</div> 
        <div class="cardItemF-right">
          <div id="view"><img id="view" src="../../../../assets/icons/eye.svg">{{ bagel.views }}</div>
          <div id="chat"><img id="chat" src="../../../../assets/icons/chat.svg">{{ bagel.comments?.length.toString() || '0' }}</div>
        </div>
      </div>
    </a>
  </ul>
</div>
