@import '../../styles.scss';

.cardList-wrapper {
  max-width: 1180px;
  margin: 44px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 44px;
}
.cardItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  height: 400px;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(93,67,58,0.12), 0 3px 6px rgba(93,67,58,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.cardItem:hover {
  box-shadow: 0 14px 28px rgba(93,67,58,0.25), 0 10px 10px rgba(93,67,58,0.22);
}
.cardItem-header {
  font-size: 0.75rem;
  font-weight: 500;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}
.cardItemH-right {
  margin-right: -30px;
  padding-right: 10px;
  width: 100px;
  height: 24px;
  display: flex;
  justify-content : right;
	align-items : center;
  border-radius: 50px 0 0 50px;
}
.courses {
  background-color: $bagel-primary;
  color: $bagel-W-text;
}
.community {
  background-color: $bagel-warn;
  color: $bagel-W-text;
}
.review {
  background-color: $bagel-accent;
  color: $bagel-dark;
}
.cardItem-content {
  font-size: 1.5rem;
}
.cardItemC-text {
  margin-bottom: 3rem;
}
.cardItem-footer {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cardItemF-right {
  display: flex
}
#save, #view, #chat {
  padding: 8px;
}