@import '../../styles.scss'; 

.container{
  width: 1180px;
  height: 56px;
  align-items: center;
  display: flex;
  z-index: 1;
}

.logo{
  float: left;
  padding: 0px;
}

.btn-container{
  height: 48px;
  margin-left: auto;
}

.btn-item{
  
}

button{
  margin-left: 24px;
  width: 127px;
  height: 100%;
  font-size: 1rem;
  text-align: center;
  border: 0.5px solid;
  border-radius: 50px;
  background-color: #ffffff;
}
