.container{
  width: 1180px;
  height: 56px;
}

.logo{

}

.btn-container{
  height: 48px;
  float: right;
}

.btn-item{
  
}

button{
  margin-left: 12px;
  margin-right: 12px;
  width: 127px;
  height: 100%;
  font-size: 1rem;
  text-align: center;
  border: 0.5px solid;
  border-radius: 50px;
  background-color: #ffffff;
}
