@import '../../../../styles.scss';

::ng-deep .ql-snow .ql-editor {
  font-size: 1rem;
  background-color: #fff;
}
::ng-deep .ql-container {
  height: 300px;
}
.register-container {
  max-width: 1024px;
  margin: 16px auto 0;
  padding: 32px;
  background-color: $bagel-W-text;
}
.form-group {
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
}
label {
  font-family: 'Poppins';
  font-size: 1rem;
  margin-bottom: 4px;
}
input {
  height: 40px;
  padding: 10px;
}
.form-select {
  block-size: 40px;
}
select {
  padding-left: 10px;
  color: $bagel-dark;
}
::placeholder { 
  color: $bagel-dark;
  opacity: 0.5;
}
datalist {
  position: absolute;
  max-height: 10rem;
  border: 0 none;
  overflow-x: hidden;
  overflow-y: auto;
}
option {
  width: 100%;
  font-size: 0.8em;
  padding: 0.3em 1em;
  background-color: $bagel-dark;
  cursor: pointer;
}
datalist option:hover, datalist option:active {
  color: #fff;
  background-color: $bagel-dark;
  outline: 0 none;
}
#content-text {
  height: 160px;
  padding: 10px;
}
quill-editor {
  background-color: #fff;
}
.register-btn {
  width: 100%;
  background-color: $bagel-accent;
  margin-top: 24px;
  padding: 8px;
  border-radius: 50px;
}

@media only screen and (max-width: 768px) {
  /* For mobile: */
  .register-container {
    max-width: 768px;
    margin: 0 auto;
    padding: 16px 0;
    background-color: $bagel-W-text;
  }
  ::ng-deep .ql-container {
    height: 200px;
  }
}
