<form class="container submit-form">
  <div class="form-group">
    <label for="selectCategory">Category</label>
    <select class="form-select form-control" id="selectCategory" (change)="selectCategory()" name="category" [(ngModel)]="newCard.category" aria-placeholder="Select category">
      <!-- <option selected>Select category</option> -->
      <option value="courses">Courses</option>
      <option value="review">Review</option>
      <option value="community">Community</option>
    </select>    
  </div>
  <div class="form-group">
    <label for="inputTerm">Term</label>
    <input type="term" class="form-control" placeholder="ex) ss21, ws22" name="term" [(ngModel)]="newCard.term">
  </div>

  <div class="form-group">
    <label for="inputCourses">Courses</label>
    <input type="Courses" class="form-control" id="inputCourses" list="selectCourses" placeholder="Input course" [disabled]="isEnabled" name="course" [(ngModel)]="newCard.course">
    <datalist id="selectCourses">
      <option value="Programmierung">Programmierung</option>
      <option value="Technische Informatik">Technische Informatik</option>
      <option value="Diskrete Strukturen">Diskrete Strukturen</option>
      <option value="Analysis für Informatiker">Analysis für Informatiker</option>
      <option value="Datenstrukturen und Algorithmen">Datenstrukturen und Algorithmen</option>
      <option value="Betriebssysteme und Systemsoftware">Betriebssysteme und Systemsoftware</option>
      <option value="Formale Systeme, Automaten, Prozesse">Formale Systeme, Automaten, Prozesse</option>
      <option value="Lineare Algebra">Lineare Algebra</option>
    </datalist>
  </div>
  <div class="form-group">
    <label for="inputPassword4">Name</label>
    <input type="userName" class="form-control" placeholder="userId" name="username" [(ngModel)]="newCard.username">
  </div>
  
  <div class="form-group">
    <label for="inputTitle">Title</label>
    <input type="text" class="form-control" placeholder="말로 과제 같이 합시다" name="title" [(ngModel)]="newCard.title">
  </div>
  <div class="form-group">
    <label for="inputContent">Content</label>
    <quill-editor name="text" [(ngModel)]="newCard.text"
    [modules]="quillConfig" (onEditorCreated)="addBindingCreated($event)"></quill-editor>
  </div>
  <div class="form-group">
    <button type="submit" class="register-btn" (click)="cardRegister()">REGISTER</button>
  </div>
</form>
