<form class="container submit-form">
  <div class="form-group">
    <label for="selectCategory">Category</label>
    <select class="form-select form-control" id="selectCategory" (change)="selectCategory()" name="category" [(ngModel)]="bagelCard.category">
      <option selected>Select category</option>
      <option value="Course">Courses</option>
      <option value="Study">Study</option>
      <option value="InAachen">In Aachen</option>
      <option value="AfterRWTH">After RWTH</option>
    </select>    
  </div>
  <div class="form-group">
    <label for="inputTerm">Term</label>
    <input type="term" class="form-control" name="term" placeholder="ex) ss21, ws22" [disabled]="isEnabled" [(ngModel)]="bagelCard.term">
  </div>

  <div class="form-group">
    <label for="inputCourses">Courses</label>
    <input type="Courses" class="form-control" name="course" list="selectCourses" placeholder="Input course" [disabled]="isEnabled" [(ngModel)]="bagelCard.course">
    <datalist id="selectCourses">
      <option *ngFor="let course of courses">{{ course.courseName || ' ' }}</option>
    </datalist>
  </div>
  
  <div class="form-group">
    <label for="inputTitle">Title</label>
    <input type="text" class="form-control" name="title" placeholder="ex) 과제 팀원 구합니다." [(ngModel)]="bagelCard.title">
  </div>
  <div class="form-group">
    <label for="inputText">Content</label>
    <quill-editor name="text" [(ngModel)]="bagelCard.text"
    [modules]="quillConfig"
    (onEditorChanged)="changedEditor($event)"
    ></quill-editor>
  </div>
  <div class="form-group" id="btn-group">
    <button type="submit" class="register-btn" (click)="bagelSave()">{{ saveType }}</button>
    <button *ngIf="isMy" type="submit" class="delete-btn" (click)="bagelDelete()">DELETE</button>
  </div>
</form>
