@use '@angular/material' as mat;
@include mat.core();

@import '~quill/dist/quill.snow.css';
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';

@import 'ngx-toastr/toastr';

$bagel-primary: #4c9d9f;
$bagel-accent: #F0CB92;
$bagel-warn: #EE5133;
$bagel-dark: #5D433A;
$bagel-W-text: #F2F0ED; 

* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  position: relative;
  height: 100%;
  padding-bottom: 128px;
}
body { 
  scroll-behavior: smooth;
  position: relative;
  min-height: 100%;
  margin-top: 80px;
  font-family: "Poppins", "Helvetica Neue", sans-serif; 
  color: #1B1C1E;
}
ul, ol {
  list-style: none;
}
a, a:link, a:visited, a:active, a:hover {
  text-decoration: none; 
  outline: none;
  color: #1B1C1E;
  background: none;
}
button, .btn.active, .btn.show {
  border: none;
  background: none;
}
@media only screen and (max-width: 768px) {
  
}
