@use '@angular/material' as mat;
@include mat.core();

$bagel-primary: #4c9d9f;
$bagel-accent: #F0CB92;
$bagel-warn: #EE5133;
$bagel-dark: #5D433A;
$bagel-W-text: #F2F0ED; 

* {
  margin: 0;
  padding: 0;
}
body { 
  font-family: "Poppins", "Helvetica Neue", sans-serif; 
  color: #1B1C1E;
}
ul, ol {
  list-style: none;
}
a {
  text-decoration: none; 
  outline: none;
  color: #1B1C1E;
}
a:hover, a:active {
  text-decoration: none; 
  color: #1B1C1E;
}
