<div class="nav-search-bar" [ngClass]="isSearch ? 'jc-end':''">
  <div class="navbar" *ngIf="!isSearch">
    <a class="nav-item" [ngClass]="selected===category.category ? 'selected' : ''" *ngFor="let category of categories">
      <div (click)="selectedPostCategory(category.category)">{{ category.category }}</div>
    </a>
  </div>
  <div class="searchbar">
    <input [(ngModel)]="searchInput" name="searchInput" type="search" autocomplete="off" placeholder="Search" (keydown.enter)="searchCard(); $event.preventDefault(); "/>
  </div>
</div>
