@import '../../../../styles.scss';

.nav-search-bar{
  width: min(100% - 1rem, 1180px);
  margin-inline: auto;  
  max-height: 120px;
  padding: 32px 0;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 200px;
  align-items: center;
}
.navbar{
  display: flex;
  justify-content: space-between;
}
.nav-item{
  font-size: 1.5rem;
  cursor: pointer;
}
.searchbar{
  vertical-align: bottom;
  vertical-align: 20%;
  display: inline-block;
  vertical-align: middle;
  margin-left: auto;
}
.searchbar input{
  font-size: 0.9rem;
  padding: 4px;
  width: 360px;
  border-color: gray;
  border-style: solid;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
}
.searchbar input:focus {
  outline: none !important;
  border: 2px solid $bagel-warn;
}
a:hover{
  color: $bagel-warn;
  text-decoration: none;
}
.selected {
  color: $bagel-warn;
}

@media only screen and (max-width: 992px) {
  /* For Pad */
  .nav-search-bar{
    width: min(100% - 2rem, 1180px);
  }  
  .nav-search-bar{
    grid-gap: 10%;
  }  
  .nav-item{
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 576px) {
  /* For mobile: */
  .nav-search-bar{
    width: min(100% - 1rem, 576px);
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 8px 8px 8px;
  }
  .searchbar {
    width: 100%;
  }
  .nav-item {
    font-size: 1rem;
    padding: 0;
    margin: 0;
  }
  .searchbar input {
    padding: 4px 8px;
    border: 0.5px solid $bagel-dark;
    width: 100%;
  }
}
