<div class="nav-search-bar" [ngClass]="isCourse ? 'disable' : ''">
  <div class="navbar">
    <a class="nav-item" [ngClass]="selected===category.category ? 'selected' : ''" *ngFor="let category of categories">
      <div (click)="selectedPostCategory(category.category)">{{ category.category }}</div>
    </a>
  </div>
  <div class="searchbar">
    <input #searchBox [(ngModel)]="searchInput" name="searchInput" type="search" autocomplete="off" placeholder="Search" 
    (input)="searchCard()"/>
    <button></button>
  </div>
</div>
