@import '../../../../styles.scss';

.nav-search-bar{
  width: min(100% - 1rem, 1180px);
  margin-inline: auto;  
  max-height: 120px;
  padding: 32px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &.jc-end{
    justify-content: flex-end;
  }
  &.disable { 
    opacity: 0.1;
    pointer-events: none;
  }
}
.navbar{
  flex-basis: max-content;
  display: flex;
  justify-content: space-between;
}
.nav-item{
  margin-right: 2rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.searchbar{
  flex-basis: max-content;
  vertical-align: bottom;
  vertical-align: 20%;
  display: inline-block;
  vertical-align: middle;
  display: flex;
  justify-content: flex-end;
}
.searchbar input{
  font-size: 0.9rem;
  padding: 4px;
  width: 360px;
  border-color: gray;
  border-style: solid;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
}
.searchbar input:focus {
  outline: none !important;
  border: 2px solid $bagel-warn;
}
a:hover{
  color: $bagel-warn;
  text-decoration: none;
}
a.selected {
  color: $bagel-warn;
  font-weight: 800;
}

@media only screen and (max-width: 992px) {
  /* For Pad */
  .nav-search-bar{
    width: min(100% - 2rem, 992px);
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    .navbar {
      grid-column: 1 / 3;
      justify-content: start;
      .nav-item{
        font-size: 1rem;
      }
    }
    .searchbar {
      grid-column: 3 / 4;
      height: 2.5rem;
      & input {
        width: 100%;
      }
    }
  }  
  
}
@media only screen and (max-width: 633px) {
  /* For mobile: */
  .nav-search-bar{
    width: min(100% - 2rem, 576px);
    margin-inline: auto;
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    .navbar{
      width: 95%;
      margin-bottom: 0.8rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .nav-item{
        margin-right: 0;
        font-size: 0.75rem;
        font-weight: 800;
      }
    }
    .searchbar {
      width: 100%;
      & input {
        padding: 4px 8px;
        border: 0.5px solid $bagel-dark;
        width: 100%;
      }
    } 
  }
}
