@import '../../../styles.scss';

.container{
  max-width: 420px;
  max-height: 358px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12%;
} 
.close-btn {
  float: right;
  margin: 1rem;
  font-size: 2rem;
}
.title{
  font-size: 1.5rem;
  font-weight: bold;
  margin: 12px 0 60px 12px;
}
.text{
  font-size: 1.3rem;
  margin: 12px 0 8px 12px;
}
input{
  width: 100%;
  height: 60px;
  font-size: 1.3rem;
  padding: 12px;
  border-radius: 8px;
  border: 1.5px solid;
  margin: 4px 12px 12px 12px;
}
.next{
  width: 100%;
  padding: 12px;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  border-radius: 50px;
  border: none;
  background-color: #4C9D9F;
  margin: 48px 12px 12px 12px;
}

@media only screen and (max-width: 768px) {
  /* For mobile: */
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: min(100% - 2rem, 768px);
    margin-inline: auto;
  }
  .title {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 32px 0;
  }
  .text {
    margin: 0 0 8px 0;
  }
  input {
    margin: 0;
    height: 48px;
  }
  .next {
    margin: 32px 0;
  }
}
