<div class="comments-container">
  <div *ngIf="comments">
    <ul class="comments-list">
      <li *ngFor="let comment of comments">
        <div class="user-container">
            <img [src]="comment.avatarUrl" class="user-photo">
            <div class="user-name">{{ comment.username }}</div>
        </div>
          <app-comment [comment]="comment">
          </app-comment>
      </li>
    </ul>
    <!-- <p class="fst-italic text-black-50" *ngIf="comments.length === 0">
      No comments to display
    </p> -->
    <app-comment-form ></app-comment-form>
  </div>
</div>
